{% extends 'base.html' %}

{% block title %}Hello{% endblock title%}

{% block content %}
<!-- <div class="btn-toolbar" style="padding-left: 15px">
  <button class="btn btn-primary">Transaction History</button>
  <button class="btn btn-primary">Make New Payment
  </button>
</div> -->

<div>
  <p class="tpbutton btn-toolbar text-center">
    <a class="btn navbar-btn btn-primary" href="#" target="_texturepack">Download</a>
    <a class="btn navbar-btn btn-default" href="#" target="_texturepack">Mirror</a>
  </p>
</div>

{% endblock %}